.grow-on-hover {
  transition: transform 0.2s; /* Add a smooth transition for scaling */
}
.grow-on-hover:hover {
  transform: scale(1.1); /* Scale the button on hover */
}
.mantine-Timeline-itemBullet{
  background-color: black;
}